@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Open+Sans&display=swap');

#chess *{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Open Sans';
}
#chess {
	display: grid;
	grid-template-columns: 500px 250px;
	grid-column-gap: 20px;
	grid-template-rows: 300px 200px;
	grid-template-areas: "chess_main chess_UI_turns"
						 "chess_main chess_UI_buttons";
	position: relative;
	width: min-content;
}

#chess_menu_overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: #00000090;
	color: #FFA800;
	padding: 40px;
	z-index: 1;
	text-align: center;
}
#chess_menu_overlay>h1 {
	font-family: 'Indie Flower' !important;
	font-size: 100px;
}
.chess_menu_btn {
	width: 40%;
	padding: 10px 0 10px !important;
	background: #FFA800;
	font-size: 30px;
	cursor: pointer;
}

#chess_main {
	display: grid;
	grid-template-columns: repeat(10, 50px);
	grid-template-rows: repeat(10, 50px);
	grid-area: chess_main;
}
#chess_main>button {
	display: block;
	background: white;
	border: none;
	cursor: pointer;
	outline: none;
}
#chess_main>button[data-color="black"] {
	background: grey;
}
#chess_main>button>img {
	width: 50px;
}
.chess_main_smb {
	
}
.chess_main_btn {
	
}
.chess_main_btn_img {
	width: 50px;
}
.chess_top-bukvi {
	justify-self: center;
	align-self: end;
	border-bottom: 1px solid black;
}
.chess_bottom-bukvi {
	justify-self: center;
	align-self: start;
	border-top: 1px solid black;
}
.chess_left-nums {
	justify-self: end;
	align-self: center;
	border-right: 1px solid black;
}
.chess_right-nums {
	justify-self: start;
	align-self: center;
	border-left: 1px solid black;
}
#chess_movable_figure {
	position: absolute;
	width: 50px;
}
.chess_eatable-figure {
	background: radial-gradient(#E94D4D, white, #E94D4D) !important;
}
.chess_possible-figure {
	background: radial-gradient(#6EAE6E, white, #6EAE6E) !important;
}

#chess_UI_turns {
	grid-area: chess_UI_turns;
	display: grid;
	grid-template-rows: 30px;
	grid-auto-rows: 30px;
	grid-template-columns: 30px 110px 110px;
	text-transform: uppercase;
	overflow-y: scroll;
	overflow-x: hidden;
	position: relative;
}
#chess_UI_turns > * {
	justify-self: center;
	align-self: center;
}
.chess_UI_turns-header {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
	font-family: "Sans-serif";
	font-size: 20px;
	position: sticky;
	top: 0;
}
.chess_UI_turns-header > img {
	height: 30px;
}


#chess_UI_buttons {
	padding-top: 20px;
	grid-area: chess_UI_buttons;
}
#inner-chess_UI_buttons {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-row-gap: 20px;
	padding: 20px;
}

#chess_overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
	text-align: center;
	background: #00000090;
}
#inner-chess_overlay {
	display: grid;
	grid-template-rows: repeat(4, 75px);
	width: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.chess_overlay_btn {
	background: white;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	border: 1px solid silver;
	font-size: 30px;
	padding: 0px 40px !important;
	outline: none;
	cursor: pointer;
}
.chess_overlay_btn:hover {
	background: grey;
	color: white;
}
.chess_overlay_btn:active {
	background: #222;
	color: white;
}